In [147]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [148]:
df = pd.read_csv('Covid Data.csv')

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [150]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [151]:
good_columns=['AGE','SEX', 'DATE_DIED', 'PNEUMONIA', 'COPD', 'ASTHMA','DIABETES', 'INMSUPR', 'HIPERTENSION', 'CARDIOVASCULAR', 'OBESITY', 'RENAL_CHRONIC', 'TOBACCO','CLASIFFICATION_FINAL']
df = df[good_columns]

In [152]:
df = df[(df.DATE_DIED != '9999-99-99')]
df = df[(df.PNEUMONIA == 1) | (df.PNEUMONIA == 2)]
df = df[(df.DIABETES == 1) | (df.DIABETES == 2)]
df = df[(df.COPD == 1) | (df.COPD == 2)]
df = df[(df.ASTHMA == 1) | (df.ASTHMA == 2)]
df = df[(df.INMSUPR == 1) | (df.INMSUPR == 2)]
df = df[(df.HIPERTENSION == 1) | (df.HIPERTENSION == 2)]
df = df[(df.CARDIOVASCULAR == 1) | (df.CARDIOVASCULAR == 2)]
df = df[(df.OBESITY == 1) | (df.OBESITY == 2)]
df = df[(df.RENAL_CHRONIC == 1) | (df.RENAL_CHRONIC == 2)]
df = df[(df.TOBACCO == 1) | (df.TOBACCO == 2)]
df = df[(df.CLASIFFICATION_FINAL == 2) | (df.CLASIFFICATION_FINAL == 3)| (df.CLASIFFICATION_FINAL == 1)]
df.shape

(53515, 14)

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53515 entries, 0 to 1047638
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AGE                   53515 non-null  int64
 1   SEX                   53515 non-null  int64
 2   DATE_DIED             53515 non-null  object
 3   PNEUMONIA             53515 non-null  int64
 4   COPD                  53515 non-null  int64
 5   ASTHMA                53515 non-null  int64
 6   DIABETES              53515 non-null  int64
 7   INMSUPR               53515 non-null  int64
 8   HIPERTENSION          53515 non-null  int64
 9   CARDIOVASCULAR        53515 non-null  int64
 10  OBESITY               53515 non-null  int64
 11  RENAL_CHRONIC         53515 non-null  int64
 12  TOBACCO               53515 non-null  int64
 13  CLASIFFICATION_FINAL  53515 non-null  int64
dtypes: int64(13), object(1)
memory usage: 6.1+ MB

In [154]:
df.head()

,AGE,SEX,DATE_DIED,PNEUMONIA,COPD,ASTHMA,DIABETES,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,65,1,03/05/2020,1,2,2,2,2,1,2,2,2,2,3
2,55,2,09/06/2020,2,2,2,1,2,2,2,2,2,2,3
4,68,2,21/06/2020,2,2,2,1,2,1,2,2,2,2,3
336,47,2,28/03/2020,1,1,2,2,2,1,2,1,2,2,3
337,43,2,29/03/2020,1,2,2,2,2,2,2,2,2,1,3

In [155]:
df.shape

(53515, 14)

In [156]:
df.DATE_DIED.value_counts()

DATE_DIED
13/07/2020    775
06/07/2020    769
07/07/2020    749
16/07/2020    749
15/07/2020    738
             ...
20/02/2021      1
18/02/2021      1
11/02/2021      1
10/02/2021      1
17/04/2021      1
Name: count, Length: 287, dtype: int64

In [157]:
df.CLASIFFICATION_FINAL.value_counts()

CLASIFFICATION_FINAL
3    50810
2     1803
1      902
Name: count, dtype: int64

In [158]:
df['DATE_DIED'] = pd.to_datetime(df['DATE_DIED'], format='%d/%m/%Y')
df = df[~(df['DATE_DIED'].dt.year == 2021)]

In [159]:
df_age=df['AGE'].value_counts().sort_index()
print(df_age)

AGE
0      48
1      38
2       8
3       5
4       5
       ..
99      9
100    14
101     5
102     1
103     1
Name: count, Length: 104, dtype: int64

In [160]:
media = df['AGE'].mean()
print(f"media: {media}")

media: 61.54312284385781

In [161]:
df['SEX'] = df['SEX'].replace({1: 'female', 2: 'male'})
df.head()

,AGE,SEX,DATE_DIED,PNEUMONIA,COPD,ASTHMA,DIABETES,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,65,female,2020-05-03,1,2,2,2,2,1,2,2,2,2,3
2,55,male,2020-06-09,2,2,2,1,2,2,2,2,2,2,3
4,68,male,2020-06-21,2,2,2,1,2,1,2,2,2,2,3
336,47,male,2020-03-28,1,1,2,2,2,1,2,1,2,2,3
337,43,male,2020-03-29,1,2,2,2,2,2,2,2,2,1,3

In [162]:
df_sex = df['SEX'].value_counts()
print(df_sex)

SEX
male      34667
female    18669
Name: count, dtype: int64

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53336 entries, 0 to 1047638
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AGE                   53336 non-null  int64
 1   SEX                   53336 non-null  object
 2   DATE_DIED             53336 non-null  datetime64[ns]
 3   PNEUMONIA             53336 non-null  int64
 4   COPD                  53336 non-null  int64
 5   ASTHMA                53336 non-null  int64
 6   DIABETES              53336 non-null  int64
 7   INMSUPR               53336 non-null  int64
 8   HIPERTENSION          53336 non-null  int64
 9   CARDIOVASCULAR        53336 non-null  int64
 10  OBESITY               53336 non-null  int64
 11  RENAL_CHRONIC         53336 non-null  int64
 12  TOBACCO               53336 non-null  int64
 13  CLASIFFICATION_FINAL  53336 non-null  int64
dtypes: datetime64[ns](1), int64(12), object(1)
memory usage: 6.1+ MB

In [164]:
df.shape

(53336, 14)

In [165]:
columns_to_drop = ['AGE', 'SEX', 'DATE_DIED', 'CLASIFFICATION_FINAL']
existing_columns = [column for column in columns_to_drop if column in df_s.columns]

df_s = df.drop(existing_columns, axis=1)

for column in df_s:
    count = df_s[column].eq(1).sum()
    percentage = (count / 53515 ) * 100

    print(f"{column}: {count}--- {percentage.round(1)}%")

PNEUMONIA: 40001--- 74.7%
COPD: 2519--- 4.7%
ASTHMA: 1075--- 2.0%
DIABETES: 20077--- 37.5%
INMSUPR: 1397--- 2.6%
HIPERTENSION: 22949--- 42.9%
CARDIOVASCULAR: 2833--- 5.3%
OBESITY: 13094--- 24.5%
RENAL_CHRONIC: 3524--- 6.6%
TOBACCO: 4333--- 8.1%

In [166]:
df.nunique()

AGE                     104
SEX                       2
DATE_DIED               219
PNEUMONIA                 2
COPD                      2
ASTHMA                    2
DIABETES                  2
INMSUPR                   2
HIPERTENSION              2
CARDIOVASCULAR            2
OBESITY                   2
RENAL_CHRONIC             2
TOBACCO                   2
CLASIFFICATION_FINAL      3
dtype: int64

In [183]:
df['MONTH_DIED'] = df['DATE_DIED'].dt.month
month_counts = df['MONTH_DIED'].value_counts().to_frame().reset_index().sort_values(by='MONTH_DIED', ascending= True)
month_counts.columns = ['Mont', 'Number of dead']
print(month_counts)

    Mont  Number of dead
10     2               1
5      3              84
3      4            3824
2      5           13496
0      6           18744
1      7           16195
4      8             900
6      9              61
7     10              13
9     11               6
8     12              12

In [168]:
df['YEAR_DIED'] = df['DATE_DIED'].dt.year
year_counts = df['YEAR_DIED'].value_counts()
print(year_counts)

YEAR_DIED
2020    53336
Name: count, dtype: int64

In [186]:
df['DAY_DIED'] = df['DATE_DIED'].dt.day
day_counts = df['DAY_DIED'].value_counts()
print(day_counts)

DAY_DIED
16    2011
17    1998
15    1970
14    1961
13    1897
12    1858
18    1850
19    1821
7     1813
6     1804
8     1784
11    1776
10    1773
9     1760
21    1720
4     1717
20    1706
1     1701
29    1683
5     1681
22    1674
26    1673
3     1655
25    1644
27    1637
30    1633
28    1627
23    1623
2     1614
24    1582
31     690
Name: count, dtype: int64

In [188]:
df = df.drop('MONTHS_DIED', axis=1)

In [189]:
df.head()

,AGE,SEX,DATE_DIED,PNEUMONIA,COPD,ASTHMA,DIABETES,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,MONTH_DIED,YEAR_DIED,DAY_DIED
0,65,female,2020-05-03,1,2,2,2,2,1,2,2,2,2,3,5,2020,3
2,55,male,2020-06-09,2,2,2,1,2,2,2,2,2,2,3,6,2020,9
4,68,male,2020-06-21,2,2,2,1,2,1,2,2,2,2,3,6,2020,21
336,47,male,2020-03-28,1,1,2,2,2,1,2,1,2,2,3,3,2020,28
337,43,male,2020-03-29,1,2,2,2,2,2,2,2,2,1,3,3,2020,29